@import '../../style.css';

.a11y{
  position: absolute;
  /* 스크린 리더에 잡혀야하기 때문에 0px이면 안됨 */
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  /* clip은 뭐지? 찾아보자. */
  clip: rect(0, 0, 0, 0);
}

.purchaseInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-default);
}

.purchaseTooltip {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: var(--text-14px);
  font-weight: var(--font-weight700);
  color: var(--color-gray-400);
}

.tooltip {
  width: 1rem;
  height: 1rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  color: var(--color-gray-300);
  line-height: 5%;
  font-size: var(--text-11px);
  font-weight: var(--font-weight700);
  margin-left: 0.2rem;
  padding: 0.1rem;
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  width: 17rem; /* 18.5rem*/
  height: 4rem; /* 4.375rem*/
  border: 1px solid var(--color-gray-200);
  background-color: var(--color-white);
  font-size: var(--font-weight500);
  line-height: 150%;
  color: var(--color-gray-400);
  text-align: left;
  padding: 1rem;
  position: absolute;
  z-index: 100;
}

.bluetext {
  color: var(--color-secondary);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.userPurchaseInfo {
  display: flex;
}

.userPurchaseCount {
  font-size: var(--text-14px);
  font-weight: var(--font-weight500);
  color: var(--color-gray-300);
}

.userPurchasePrice {
  font-size: var(--text-22px);
  font-weight: var(--font-weight700);
  color: var(--color-secondary);
}

.divLineSmall {
  color: var(--color-gray-200);
  padding: 0 0.3125rem;
}