@import '../../a11y.css';

.a11y{
  position: absolute;
  /* 스크린 리더에 잡혀야하기 때문에 0px이면 안됨 */
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  /* clip은 뭐지? 찾아보자. */
  clip: rect(0, 0, 0, 0);
}

.productPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-default);
}

.discountRate {
  font-size: var(--text-24px);
  font-weight: var(--font-weight700);
  color: var(--color-secondary);
}

.originalPrice {
  font-size: var(--text-16px);
  font-weight: var(--font-weight700);
  color: var(--color-gray-300);
  text-decoration: line-through;
}

.discountedPrice {
  font-size: var(--text-22px);
  font-weight: var(--font-weight500);
  color: var(--color-gray-400);
  margin-left: 0.375rem;
}

/* .discountRate::before {
  content: '할인률';
}

.costPrice::before {
  content: '원가';
}

.discountedPrice::before {
  content: '판매가';
} */
