.a11y,
h1::before,
.discountRate::before,
.costPrice::before,
.discountedPrice::before,
.tooltipButton::before {
  position: absolute;
  /* 스크린 리더에 잡혀야하기 때문에 0px이면 안됨 */
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  /* clip은 뭐지? 찾아보자. */
  clip: rect(0, 0, 0, 0);
}
